<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jc-toggl</string>
	<key>connections</key>
	<dict>
		<key>0DEC9E1D-EA0D-434E-BA5C-AF9ACCE1B3E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0647B0B4-6734-48A1-BF61-031D41D2A35D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>23EB19F3-4DBE-4A1A-BA26-0D57240C0E36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DEC9E1D-EA0D-434E-BA5C-AF9ACCE1B3E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>57249A1E-930C-46BD-BA7D-C8D407325D83</key>
		<array/>
		<key>8602447A-18F0-4C03-8364-F6DD5FAEA325</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DEC9E1D-EA0D-434E-BA5C-AF9ACCE1B3E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8E79C7CB-39AC-45C7-A2E0-9B0C0ED3D60D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DEC9E1D-EA0D-434E-BA5C-AF9ACCE1B3E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9385D941-BF6C-4408-8ADF-BF9CDDC4E0F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DEC9E1D-EA0D-434E-BA5C-AF9ACCE1B3E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>98D9C78B-FE32-4341-8D7D-28C97054A198</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DEC9E1D-EA0D-434E-BA5C-AF9ACCE1B3E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Cheatham</string>
	<key>description</key>
	<string>Manage Toggl timers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggl</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>toggl/</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from alfred_toggl import TogglWorkflow
TogglWorkflow().tell('query', '''{query}''')</string>
				<key>subtext</key>
				<string>List all time entries</string>
				<key>title</key>
				<string>toggl/</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>98D9C78B-FE32-4341-8D7D-28C97054A198</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Toggl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0647B0B4-6734-48A1-BF61-031D41D2A35D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>from alfred_toggl import TogglWorkflow
TogglWorkflow().do('action', '{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DEC9E1D-EA0D-434E-BA5C-AF9ACCE1B3E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>toggl#</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from alfred_toggl import TogglWorkflow
TogglWorkflow().tell('on', '''{query}''')</string>
				<key>subtext</key>
				<string>List time entries on a given date</string>
				<key>title</key>
				<string>toggl#</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8602447A-18F0-4C03-8364-F6DD5FAEA325</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>toggl&lt;</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>from alfred_toggl import TogglWorkflow
TogglWorkflow().tell('since', '''{query}''')</string>
				<key>subtext</key>
				<string>List time entries since a given date and/or time</string>
				<key>title</key>
				<string>toggl&lt;</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>23EB19F3-4DBE-4A1A-BA26-0D57240C0E36</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>toggl+</string>
				<key>runningsubtext</key>
				<string>Preparing...</string>
				<key>script</key>
				<string>from alfred_toggl import TogglWorkflow
TogglWorkflow().tell('start', '''{query}''')</string>
				<key>subtext</key>
				<string>Start a new time entry</string>
				<key>title</key>
				<string>toggl+</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9385D941-BF6C-4408-8ADF-BF9CDDC4E0F9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>toggl&gt;</string>
				<key>runningsubtext</key>
				<string>Listing commands...</string>
				<key>script</key>
				<string>from alfred_toggl import TogglWorkflow
TogglWorkflow().tell('commands', '''{query}''')</string>
				<key>subtext</key>
				<string>Run a command</string>
				<key>title</key>
				<string>toggl&gt;</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8E79C7CB-39AC-45C7-A2E0-9B0C0ED3D60D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>toggl?</string>
				<key>runningsubtext</key>
				<string>Listing help items...</string>
				<key>script</key>
				<string>from alfred_toggl import TogglWorkflow
TogglWorkflow().tell('help', '''{query}''')</string>
				<key>subtext</key>
				<string>Get some help</string>
				<key>title</key>
				<string>toggl?</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>57249A1E-930C-46BD-BA7D-C8D407325D83</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0647B0B4-6734-48A1-BF61-031D41D2A35D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0DEC9E1D-EA0D-434E-BA5C-AF9ACCE1B3E2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>23EB19F3-4DBE-4A1A-BA26-0D57240C0E36</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>57249A1E-930C-46BD-BA7D-C8D407325D83</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>8602447A-18F0-4C03-8364-F6DD5FAEA325</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8E79C7CB-39AC-45C7-A2E0-9B0C0ED3D60D</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>9385D941-BF6C-4408-8ADF-BF9CDDC4E0F9</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>98D9C78B-FE32-4341-8D7D-28C97054A198</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/jason0x43/jc-toggl</string>
</dict>
</plist>
